*{margin:0;
  padding: 0;}

body{background:#FFF}

.contenedor{align-content: center;
 			justify-content: center;
 			display: grid;
 			height: 100vh}

.btn{border:rgba(100,100,100,0.1) 3px solid;
	 margin-bottom: 20px;
	 padding: 20px;
	 width: 200px;
	 font-family:"Poppins", sans-serif;
	 font-size:16px;
	 border-radius:8px;
	 cursor:pointer;
	 color:#FFF;
	 background-size:300%;}

.btn:hover{background-position: right;}

.btn1{background-image: linear-gradient(to left, #00B7DA, #161569, #00B7DA);}

.btn2{background-image: linear-gradient(to left, #A950A1, #2D3A54, #A950A1);}

.btn3{background-image: linear-gradient(to left, #FFCAE3, #FF499D, #FFCAE3);}

.btn4{background-image: linear-gradient(to left, #FF5733, #BB1857, #FF5733);}

h1{color: black;
   text-shadow: 1px 2px 2px black. 0 0 25px blue, 0 0 5px blue;
   text-align: center;}